RewriteEngine On

# Configuración de CORS global
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
Header set Access-Control-Allow-Headers "Content-Type, Authorization"

# Para peticiones OPTIONS (preflight)
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]

# Reglas para Next.js
RewriteRule ^_next - [L]
RewriteRule ^static - [L]

# Redirigir a PHP si el archivo existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\.php$ $1.php [L]

# Redirigir todas las demás solicitudes a index.html para SPA
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA,L]

# Configuración para PHP
<IfModule mod_php7.c>
    php_value upload_max_filesize 20M
    php_value post_max_size 20M
    php_value max_execution_time 300
    php_value max_input_time 300
    php_flag display_errors off
    php_value error_log /ruta/a/tu/error.log
</IfModule>
